<div class="text-box text-box__about">
  <h1 class="heading-primary heading-primary__about">About:</h1>
  <img src="assets/img/foto_2x.jpg" alt="Mariia">
  <p class="paragraph">
      My name is Mariia, I come from Russia, till 2015 I lived in Moscow, where I had graduated from Moscow State University of Geodesy and Cartography in 2007 and for about 8 years worked in a large company as an engineer.
  </p>
  <p class="paragraph">
      In the beginning of 2015 I moved to Germany, Berlin, where for 3 years I learned german language. As the result of my hard work in summer 2017 I successfully passed TELC C1 exam.
  </p>
  <p class="paragraph">
      In the middle of 2017 I got seriously interested in web development.<br>
      In March 2018 I enroll at  HTW Berlin (Hochschule für Technik und Wirtschaft Berlin), where I study applied informatics.<br>
   </p> 
  <p class="paragraph">
      I like travel, explore cities, culture and a new destination.<br>
  </p>            
</div>
