<h1 class="heading-primary heading-primary__experience">Experience:</h1>
<div class="experience">
    <div class="progress-bar">
        <div style="width: 35%" class="progress-bar__1">
            <h2 class="name">Illustrator</h2>
        </div>
    </div>
    <div class="progress-bar">
        <div style="width: 35%" class="progress-bar__1">
            <h2 class="name">Photoshop</h2>
        </div>
    </div>
    <div class="progress-bar">
        <div style="width: 15%" class="progress-bar__1">
            <h2 class="name">JS</h2>
        </div>
    </div>
    <div class="progress-bar">
        <div style="width: 20%" class="progress-bar__1">
            <h2 class="name">Node.js</h2>
        </div>  
    </div>
    <div class="progress-bar">
        <div style="width: 45%" class="progress-bar__1">
            <h2 class="name">Git</h2>
        </div>
    </div>
    <div class="progress-bar">
        <div style="width: 73%" class="progress-bar__1">
            <h2 class="name">Sass/Scss</h2>
        </div>
    </div>
    <div class="progress-bar">
        <div style="width: 75%" class="progress-bar__1">
            <h2 class="name">Css</h2>
        </div>
    </div>
    <div class="progress-bar">
        <div style="width: 75%" class="progress-bar__1">                  
            <h2 class="name">Html</h2>
        </div> 

    </div>
</div>
