<div class="text-box text-box__contact">
  <h1 class="heading-primary heading-primary__contact">Get in touch:</h1>
  <form action="/contact" class="form" method="POST">
      <div class="form__group">
          <input class="form__input" type="text" placeholder="Name" id="name" name="name">
          <label class="form__label" for="name">Name</label>
      </div>
      <div class="form__group">
          <input class="form__input" type="email" placeholder="E-mail" id="email" required name="email">
          <label class="form__label" for="email">E-mail</label>
      </div>
      <div class="form__group">
          <textarea class="form__textarea" id="msg" placeholder="Type your message here...." name="message"></textarea>
          <label class="form__label" for="msg">Message</label>
      </div>
          {{!-- <div class="g-recaptcha" data-theme="dark" data-size="compact" data-sitekey="6LdvB0gUAAAAACixoT8E37CmXteflC-c9hiMKwHu"></div> --}}
          <button class="btn" type="submit" class="btn">Send</button>
  </form>
</div>
