<nav class="menu-box">
  <ul class="menu-box__list">
          <li class="menu-box__item menu-box__item--active">

          <li class="menu-box__item">

          <a href="/"class="menu-box__link">
              About
          </a>
      </li>
          <li class="menu-box__item menu-box__item--active">
          <li class="menu-box__item">
          <a href="experience"class="menu-box__link">
              Experience
          </a>
      </li>
          <li class="menu-box__item menu-box__item--active">
          <li class="menu-box__item">
          <a href="contact"class="menu-box__link">
              Get in touch
          </a>
      </li>
  </ul>
</nav>