// @import "variables";

// .menu-box {
//     border: none;
//     flex: 0 0 21%;   
//     padding-top: 0;
//     font-size: 1.1rem;
//     text-transform: uppercase;
//     letter-spacing: 1px;
//     margin-bottom: 1rem;
//     @include min-width($screen-desktop) {
//         padding-top: 6rem;
//         font-size: 2rem;
//         border: 1px solid $color-grey-light-2;          
//     }
  
//     &__list {
//         display: flex;
//         justify-content: space-between;
//         list-style: none;
//         text-align: center;
//         @include min-width($screen-desktop) {
//             display: block;
//             justify-content: unset;              
//         }     
//     }

//     &__item {
//         flex: 1;
//         &:not(:last-child){
//             margin-bottom: 0;

//             @include min-width($screen-desktop) {
//                 margin-bottom: 2rem;    
//             }
//         }         
//         @include min-width($screen-desktop) {
//             flex: unset;
//         }
//         &--active {
//             background-color: rgba($color-yellow-1, .85);
//         }
//     }

//     &__link:link,
//     &__link:visited {
//         display: block;
//         width: 100%;
//         text-decoration: none;
//         color: $color-black-1;
//         padding: 1rem;
//         position: relative;    
//         z-index: 10;  
//         @include min-width($screen-desktop) {
//             padding: 2rem;    
//         }
//         &::before {
//             content: "";
//             background-color: rgba($color-yellow-1, .75);
//             width: 3px;
//             height: 100%;
//             position: absolute;
//             top: 0;
//             left: 0;
//             z-index: -1;
//             transform: scaleY(0);
//             transition: transform .2s, width .3s cubic-bezier(1,0,0,1) .2s;            
//         }
//         &:hover::before { 
//             transform: scaleY(1);
//             width: 100%; 
//         }
//     } 
// }