$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
$color-black-1:#191919;
$color-black-2: #1a1a1a;

$color-blue-1: #46a6e4;
$color-blue-2: #6cc3fa;
$color-blue-3: #42779f;
$color-blue-4: #7fc2f5;
$color-blue-5: #56c3e8;
$color-blue-6: #5e8ab8;
$color-blue-7: #1a419c;
$color-blue-8: #4c75ba;

$color-yellow-1:#fadb4a;

$screen-tablet: 768px;
$screen-desktop: 1000px;